# GHDL simulation
*.cf
*.o
*.ghw
steiner_tb
steiner_tb.txt
uart_tb
check_*

# Vivado synthesis
.Xil/
nexys4ddr.tcl
*.bit
*.dcp
*.rpt
*.jou
*.log
clockInfo.txt
tight_setup_hold_pins.txt
usage_statistics_webtalk.*

# Editors
*.swp
